@import "fontawesome/scss/font-awesome.scss";
@import "_variables.scss";

/**************************************************
 *
 * Global
 *
 **************************************************/

body {
	margin: 0;
	font-family: $font-family;
	color: $text-color;
	background-color: $background-color;
}

/**************************************************
 *
 * Texts
 *
 **************************************************/

h1,
h2,
h3,
h4 {
	font-family: $font-family-headings;
}

a {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	margin: 20px 0;
	height: 1px;
	background-color: $shadow-color;
	border: none;
}

.center {
	text-align: center;
}

/**************************************************
 *
 * Responsive
 *
 **************************************************/

.container {
	max-width: 60rem;
	margin: 0 auto;
}

@media (max-width: 60rem) {
	.container {
		margin: 0 .5rem;
	}
}

/**************************************************
 *
 * Topbar
 *
 **************************************************/

#topbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	height: $topbar-height;
	font-family: $font-family-headings;
	background-color: #fff;
	box-shadow: 0 2px 4px $shadow-color;

	a {
		display: inline-block;
		padding: $topbar-padding ($topbar-padding / 2);
		font-size: $topbar-height - (2 * $topbar-padding);
		line-height: 1;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	#logo {
		padding: $topbar-padding 0;
	}

	.topbar-links {
		float: right;
		display: flex;
		list-style: none;
		overflow-x: auto;
		margin: 0;
		padding: 0;

		& > li {
			flex: 1;
			margin: 0;
			padding: 0;
		}
	}
}

/**************************************************
 *
 * Page
 *
 **************************************************/

#page {
	margin-top: $topbar-height;
}

#cover {
	position: relative;
	background-color: $primary-color;
	background-image: radial-gradient(ellipse farthest-side at right top, lighten($primary-color, 15%) 0%, transparentize($primary-color, 1) 100%), radial-gradient(ellipse farthest-side at left bottom, darken($primary-color, 15%) 0%, transparentize($primary-color, 1) 100%);
	background-position: center;
	background-size: cover;
	height: 10vw;
	min-height: 100px;

	&.has-image {
		height: 40vw;
	}

	& + .container {
		position: relative;
		z-index: 1;
		margin-top: -88px;
	}
}

.card {
	display: block;
	background-color: #fff;
	margin: 20px 0;
	padding: 0 10px;
	box-shadow: 0 2px 4px $shadow-color;
	border-radius: 3px;
	overflow: hidden;
}

/**************************************************
 *
 * Posts
 *
 **************************************************/

.posts-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.post-content {
	@extend .card;

	& > h2,
	& > p {
		margin: 10px 0;
	}

	header {
		margin-bottom: 20px;
		border-bottom: 1px solid $shadow-color;

		a {
			display: block;
			text-decoration: none;
			overflow: hidden;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
	footer {
		margin-top: 20px;
		border-top: 1px solid $shadow-color;
	}
}

.post-author {
	@extend .card;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

	@media screen and (min-width: 30rem) {
		flex-direction: row;
		align-items: flex-start;
		width: auto;
		max-width: 30rem;
		height: 200px;
		text-align: left;
	}

	.author-avatar {
		flex: 0;
		width: 200px;
		height: 200px;

		@media screen and (min-width: 30rem) {
			margin: 0;
		}
	}
	.author-info {
		flex: 1;
		padding: 0 10px;
	}

	.author-punchline {
		margin: 0;
		font-style: italic;
	}

	.external-profile {
		display: inline-block;
		margin: 3px;
		padding: 3px 5px;
		background-color: #f6f6f6;
		border: 1px solid #ececec;
		border-radius: 4px;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: #fcfcfc;
			border: 1px solid #d0d0d0;
		}
	}
}

#about-us-authors {
	@media screen and (min-width: 60rem) {
		display: flex;
		flex-direction: row;
		align-items: center;

		.post-author {
			margin-right: 10px;
			margin-left: 10px;
		}
	}
}

#markdown-toc {
	& > li {
		margin: 5px 0;
	}

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.logos-list {
	text-align: center;
	font-size: 0;

	img {
		display: inline-block;
		max-width: 40px;
		max-height: 40px;
		vertical-align: middle;
		margin: 10px;

		@media screen and (min-width: 30rem) {
			max-width: 80px;
			max-height: 80px;
			margin: 10px 20px;
		}
	}
}

/**************************************************
 *
 * Code
 *
 **************************************************/

pre,
code {
	font-family: $font-family-code;
	tab-size: 4;
}
pre {
	padding: 5px;
	border-radius: 3px;
}

code.highlighter-rouge {
	padding: 0 3px;
	background: #f6f6f6;
	border: 1px solid #ececec;
	border-radius: 3px;
}
div.highlighter-rouge {
	position: relative;
	margin: 10px 0 20px;
	padding-top: 28px;
	background: #f6f6f6;
	border: 1px solid #ececec;
	border-radius: 3px;
	box-shadow: 0 2px 10px $shadow-color;

	& > .highlight {
		background-color: #fcfcfc;
		border-top: 1px solid #d0d0d0;
		border-radius: 0 0 3px 3px;
		overflow: auto;

		& > table {
			table-layout: fixed;
		}
		.gutter {
			-webkit-user-select: none;
			user-select: none;
			width: 2.5em;
		}
	}

	&::before,
	&::after,
	& > .highlight::before {
		content: '';
		position: absolute;
		top: 8px;
		width: 10px;
		height: 10px;
		background: #e8e8e8;
		border: 1px solid #e5e5e5;
		border-radius: 100%;
	}

	&::before {
		left: 7px;
	}
	&::after {
		left: 24px;
	}
	& > .highlight::before {
		left: 41px;
	}

	table {
		width: 100%;
	}
	pre {
		margin: 0;
	}
}

@import "./pygments-themes/manni.scss";
