<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
	<meta charset="{{ site.encoding | uppercase }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

	<link rel="stylesheet" href="{{ "/css/helyo.world.css" | relative_url }}">

	<link rel="alternate" type="application/rss+xml"
    href="{{ "/feed.xml" | prepend:site.github.url }}" title="Votre titre">
</head>
<body>
	{% include topbar.html %}
	<div id="page">
		<aside id="cover" role="presentation"></aside>

		<div class="container">
			<main>
				{{ content }}
			</main>
		</div>
	</div>
</body>
</html>
