<!DOCTYPE html>
<html lang="{{ site.language }}" prefix="og: http://ogp.me/ns#">
<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
	{% include metas.html %}

	<link rel="alternate" type="application/rss+xml"
    href="{{ "/feed.xml" | prepend:site.github.url }}" title="Votre titre">
</head>
<body>
	{% include topbar.html %}
	<div id="page">
		<aside id="cover" role="presentation"></aside>

		<div class="container">
			<main>
				{{ content }}
			</main>
		</div>
	</div>
</body>
</html>
